/* Stilovi za glavni kontejner */


.main-container {
  display: flex;
  flex-direction: column; /* Prikazuje sadržaj vertikalno */
  padding: 20px;
}

/* Stilovi za gornji kontejner (left-container i right-container) */
.top-container {
  display: flex;
  justify-content: space-between; /* Raspoređuje sadržaj lijevo i desno */
  margin-bottom: 20px; /* Razmak između gornjeg i donjeg kontejnera */
}

/* Stilovi za lijevi kontejner (detalji i popis igrača) */
.left-container {
  flex: 2; /* Lijevi kontejner zauzima više prostora */
  border: 1px solid #ccc; /* Primjer granice */
  padding: 10px;
  margin-right: 20px;
}

/* Stilovi za desni kontejner (sortiranje) */
.right-container {
  flex: 1; /* Desni kontejner zauzima manje prostora */
  border: 1px solid #ccc; /* Primjer granice */
  padding: 10px;
  padding-right: 10px;
  text-align: center;
  
}

/* Stilovi za donji kontejner Overview*/
.bottom-container {
  border: 1px solid #ccc; /* Primjer granice */
  padding: 10px;
  width: 50%;
}
.btn{
  height: 60px;
  width: 100px;
  margin: 10px;
text-align: center;
}

.submit{
  width: 210px;
  height: 60px;
  background-color: rgb(208, 203, 228);
}


.card-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* razmak između karata */
  justify-content: space-between; /* ravnomjerno raspoređivanje karata */
  margin-top: 1rem;
}

.card {
  flex-basis: calc(33.33% - 1rem); /* širina 1/3, smanjena za razmak */
  background-color: #f0f0f0;
  text-overflow: ellipsis; 
  padding: 2.5rem;
  text-align: left;
  border: 1px solid #ccc;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  

}
.details {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.selected {
  background-color: #02346b !important;
  color: white;
}


